.container {
  max-width: 1380px;
  margin:0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.value--blue {
  color: var(--value-blue);
}

.value--green {
  color: var(--value-green);
}

.value--yellow {
 color: var(--value-yellow);
}

.value--red {
  color: var(--value-red);
}
