.students-page {
  margin-bottom: 50px;
}

.students-page__headline {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  max-width: 230px;
  color: var(--gray-dark);
  font-size: 20px;
  line-height: 23.7px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 120px 4px 0;
}

.export-button {
  text-decoration: none;
  align-self: center;
  margin-right: 130px;
}

.export-button__text {
  font-size: 12px;
  line-height: 16.8px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gray-new);
  padding: 5px;
  padding-left: 22px;
  position: relative;
}

.export-button__text::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-image: url(../../images/export.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.export-button__text:active {
  color: var(--gray-dark);
}

.export-button__text:active::before {
  background-image: url(../../images/export-dark.svg);
}
