@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'variables.css';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: var(--main-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
