.table-row {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);
}

.table-row--checked {
  background-color: var(--gray-bg-color);
  border: 1px solid var(--gray-new);
}

.table-row--checked .table-data {
  margin-top: -1px;
}

.table-row:nth-child(4n-1) {
  background-color: #F9F9F9;
}

.table-data {
  min-height: 48px;
}

.actions__info {
  width: 32px;
  height: 32px;
  padding: 3px;
}

.drop-down-btn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  font: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-btn__arrow--reverse {
  transform: rotate(180deg);
}

.drop-down-btn__arrow--reverse path {
  fill: var(--gray-dark);
}

.table-data__class {
  padding-left: 5px;
}

.table-data__parents {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}

.table-data__perents-info {
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding: 2px;
}